<div class="row main">
        <div class="large-12 columns bg">
            <div class="large-12 columns  title">
                <div><img id="logo" src="img/LITAlogo.gif"></div>
            </div>
                <div class="large-8 columns large-offset-2 heads">
                    <h1>Wanna mess with me?</h1>
                </div>
            <div class="large-6 columns large-pull-3 login">
                <div class="large-6 columns large-offset-3 loginbuttons">
                 <br>
                <a href="/signUp" role="button" aria-label="submit form" class="button large-offset-3">Sign Up</a>
                <a href="/signin" role="button" aria-label="submit form" class="button">Sign In</a>
                </div>
            </div>
        </div> 
</div>