       <div class="row main">
               <div class="large-12 columns bg">
        <div class="large-3 columns"><img  class="logo" src="img/LITAlogo.gif"></div>
     <a href="#" role="button" aria-label="submit form" class="large-3 columns button">Sign out</a>
            <div class="large-12 columns  gameareac"> 
            <div class="large-2 columns love"><img src="img/loveBar_full.png"></div>
                <div class="large-5 columns large-push-5 zombiec"></div>
                <div class="large-12 columns talkbox">
                    <p class="talkwords">This is the talky box</p>
                   
                    <a role="button" id="zwordsnow" class="button">answer1</a>
                    <br>
                    <a role="button" id="zwordsnow" class="button">answer2</a>
                    <br>
                    <a role="button" id="zwordsnow" class="button">answer3</a>
                    <br>
                    <a role="button" id="zwordsnow" class="button">answer4</a>

                </div>
            </div>
        </div>
    </div>

