
<body>
    
<div class="row main">
  
      <div class="large-12 columns bg">
      <div class="large-3 columns"><img  class="logo" src="img/LITAlogo.gif"></div>

<a class="large-1 large-push-5 columns" id="music" href="img/zombiemusic.mp3" target="_blank">Music</a>
   <a id="zso" href="#" role="button" aria-label="submit form" class="large-2 large-push-5 columns button">Sign out</a>
          <div class="large-12 columns  gamearea"> 
              <div class="large-4 columns large-offset-4 signinforms">
              <i class="fa fa-sign-in" aria-hidden="true">Sign In</i>
                <form action="/signin" method="post">
                    <div class="form-group">
                      <label>Username</label>
                      <input type="text" class="form-control" id = "username" name="username">
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="text" class="form-control" id = "email" name="email">
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control" id = "password" name="password">
                    </div>
                    

                    
                    <input id="zsi" type="submit" class="btn btn-warning btn-lg" value=
                   "Signin" />
                </form>
                <div id="lastthing" class="large-9 columns">
                <p>Need an account? <a href="/signup">Signup</a></p>
                
                        <p>Or go <a href="/">home</a>.</p>
                        </div>
                </div> 
            </div>
                        
    </div>
</div>

