<div class="row main">


    <div class="large-12 columns bg">
    
    <div class="large-3 large-push-1 columns"><img  class="logo" src="img/LITAlogo.gif"></div>

<a class="large-1 large-push-5 columns" id="music" href="img/zombiemusic.mp3" target="_blank">Music</a>
   <a id="zso" href="#" role="button" aria-label="submit form" class="large-2 large-push-5 columns button">Sign out</a>
        <div class="large-12 columns gamearea"> 
        <h3 class="large-4 large-push-4 columns">Pick Your Fate<h3>
         <div class="large-12 columns topmap">
          <a href="/swamp"><div class="large-4 columns large-push-1 map" id="swamp"></div></a>
          <a href="/snow"><div class="large-4 columns large-push-3 map" id="snow"></div> </a>
          </div>
          <div class="large-12 columns bottommap">
          <a href="/mansion"><div class="large-4 columns large-push-1 map" id="rich"></div></a>  
          <a href="/beach"><div class="large-4 columns large-push-3 map" id="beach"></div> 
          </div></a>

        </div>
    </div>
</div>

